// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
        primary: (
                100: #f8e8c9,
                200: #726351,
                300: #4f2b1d,
        ),
        neutral: (
                100: #ffffff,
        ),
);

