---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Download from '../components/Download.astro'
---

<DefaultLayout title="Home">
  <div class="py-20">
    <Hero />

    <div class="grid grid-cols-1 gap-10 mx-auto my-10 text-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-puzzle-piece text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Modular Application</h2>
        <p class="text-lg text-gray-600 mt-4">You can have only the features you want.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-layer-group text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Scalable System</h2>
        <p class="text-lg text-gray-600 mt-4">Easily expand your system as needed.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-shield-alt text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Security First</h2>
        <p class="text-lg text-gray-600 mt-4">Your data and system remain protected.</p>
      </div>
    </div>
  </div>
</DefaultLayout>

