---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Download from '../components/Download.astro'
---

<DefaultLayout title="Home">
  <div class="py-20">
    <Hero />

    <div class="grid grid-cols-3 gap-10 mx-auto my-10 text-center">
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-puzzle-piece text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Modular Application</h2>
        <p class="text-lg text-gray-600 mt-4">You can have only the features you want.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-layer-group text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Scalable System</h2>
        <p class="text-lg text-gray-600 mt-4">Easily expand your system as needed.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-shield-alt text-5xl text-primary mb-6"></i>
        <h2 class="text-3xl font-bold text-gray-900">Security First</h2>
        <p class="text-lg text-gray-600 mt-4">Your data and system remain protected.</p>
      </div>
    </div>

    <div class="overflow-hidden bg-white py-16">
      <div class="mx-auto max-w-7xl">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 items-center">
          <img src="/conference.svg" alt="Product screenshot" class="w-3/4" width="2432" height="1442">
          <div class="lg:pt-4 lg:pr-8 text-center md:text-left">
            <div class="lg:max-w-lg">
              <h2 class="text-xl font-semibold text-primary uppercase">Convenient Conference Management</h2>
              <p class="mt-2 text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl">coffeeBreak.</p>
              <p class="mt-4 text-xl text-gray-600">An event management platform that allows customization with the necessary modules for each event.</p>
              <dl class="mt-6 space-y-4 text-lg text-gray-600">
                <div>
                  <dt class="font-bold text-gray-900">Modular Design</dt>
                  <dd>Quick adaptation for different types of events like fairs, hackathons, or keynotes.</dd>
                </div>
                <div>
                  <dt class="font-bold text-gray-900">Scalability</dt>
                  <dd>Adjust the system to fit varying budget requirements and event sizes.</dd>
                </div>
                <div>
                  <dt class="font-bold text-gray-900">Customization</dt>
                  <dd>Align visual branding and integrate new modules seamlessly for unique event formats.</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</DefaultLayout>
