---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Download from '../components/Download.astro'
---

<DefaultLayout title="Home">
  <div class="ml-48">
    <Hero />
    <div class="grid grid-cols-3 gap-4">
      <Download title="Meeting 1" description="First Meeting Minute" file_path="../../docs/minute1.pdf" />
     
    </div>
  </div>

</DefaultLayout>
