---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Download from '../components/Download.astro'
---

<DefaultLayout title="Home">
  <div class="sm:py-20 px-4 sm:px-8">
    <Hero />

    <div class="grid grid-cols-1 gap-10 mx-auto my-10 text-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-puzzle-piece text-5xl text-primary mb-6"></i>
        <h2 class="text-2xl sm:text-3xl font-bold">Modular Application</h2>
        <p class="text-base sm:text-lg-600 mt-4 opacity-75">You can have only the features you want.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-layer-group text-5xl text-primary mb-6"></i>
        <h2 class="text-2xl sm:text-3xl font-bold">Scalable System</h2>
        <p class="text-base sm:text-lg mt-4 opacity-75">Easily expand your system as needed.</p>
      </div>
      <div class="flex flex-col items-center p-6 border-b-4 border-transparent hover:border-primary transition-all duration-300">
        <i class="fa-solid fa-shield-alt text-5xl text-primary mb-6"></i>
        <h2 class="text-2xl sm:text-3xl font-bold">Security First</h2>
        <p class="text-base sm:text-lg mt-4 opacity-75">Your data and system remain protected.</p>
      </div>
    </div>
  </div>
</DefaultLayout>


