---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
---

<DefaultLayout title="Home">
  <div class="ml-48">
    <Hero />
  </div>
</DefaultLayout>
