---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Download from '../components/Download.astro'
---

<DefaultLayout title="Minutes">
    <div class="py-20 px-6 max-w-5xl mx-auto text-center">
        <h1 class="text-6xl font-extrabold text-base-content">Meeting Minutes</h1>
        <p class="mt-4 text-lg text-neutral-content">
            Here you can find the minutes of our meetings. Stay updated with our discussions and decisions.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-12">
            <Download 
                title="Minute 1" 
                description="Inception phase meeting, we talk about our use cases diagram and other topics." 
                file_path="./docs/Minute1.pdf"
            />
        </div>
    </div>
</DefaultLayout>
