---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Team">
    <div class="grid grid-cols-5 gap-4 w-full mx-auto">
        <div class="w-1/5 h-20 bg-primary"></div>
        <div class="w-1/5 h-20 bg-primary"></div>
        <div class="w-1/5 h-20 bg-primary"></div>
        <div class="w-1/5 h-20 bg-primary"></div>
        <div class="w-1/5 h-20 bg-primary"></div>
    </div>
</DefaultLayout>
  