---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DiogoD from '../assets/img/DiogoD.jpeg';
import GabrielS from '../assets/img/GabrielS.jpg';
import MartimS from '../assets/img/MartimS.jpeg';
---

<DefaultLayout title="Team">
    <div class="flex flex-wrap justify-center items-center gap-12 mx-8 mt-10 mb-16">
        <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <div class="avatar">
                <div class="rounded-full w-80 overflow-hidden">
                    <img src={DiogoD.src} alt="Diogo Domingues" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="text-center mt-4">
                <h2 class="text-lg font-bold">Diogo Domingues</h2>
            </div>
            <div class="flex justify-center space-x-4 mt-2 text-xl">
                <a href="https://www.linkedin.com/in/diogo-domingues-a1960a351/" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/DJI28" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <div class="avatar">
                <div class="rounded-full w-80 overflow-hidden">
                    <img src={GabrielS.src} class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="text-center mt-4">
                <h2 class="text-lg font-bold">Gabriel Silva</h2>
            </div>
            <div class="flex justify-center space-x-4 mt-2 text-xl">
                <a href="https://www.linkedin.com/in/gabriel-silva-5b89942a4/" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/GabrielMSilva04" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <div class="avatar">
                <div class="rounded-full w-80 overflow-hidden">
                    <img src="https://placehold.co/300" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="text-center mt-4">
                <h2 class="text-lg font-bold">Maria Linhares</h2>
            </div>
            <div class="flex justify-center space-x-4 mt-2 text-xl">
                <a href="https://www.linkedin.com/in/marialuislinhares/" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/MariaLinhares" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <div class="avatar">
                <div class="rounded-full w-80 overflow-hidden">
                    <img src={MartimS.src} class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="text-center mt-4">
                <h2 class="text-lg font-bold">Martim Santos</h2>
            </div>
            <div class="flex justify-center space-x-4 mt-2 text-xl">
                <a href="https://www.linkedin.com/in/martimsantos15/" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/martimsoutooo" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>

        <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <div class="avatar">
                <div class="rounded-full w-80 overflow-hidden">
                    <img src="https://placehold.co/150" class="w-full h-full object-cover" />
                </div>
            </div>
            <div class="text-center mt-4">
                <h2 class="text-lg font-bold">Sebastião Teixeira</h2>
            </div>
            <div class="flex justify-center space-x-4 mt-2 text-xl">
                <!--<a href="#" class="text-gray-500 hover:text-primary">-->
                <!--    <i class="fab fa-linkedin"></i>-->
                <!--</a>-->
                <a href="https://github.com/sebastiaoteixeira" class="text-gray-500 hover:text-primary">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</DefaultLayout>
  