<footer class="footer bg-neutral text-neutral-content px-16 py-8">
  <nav class="flex flex-col">
    <h6 class="footer-title">Advisors</h6>
    <a href="https://www.ua.pt/pt/p/80334491" class="link link-hover">João Almeida</a>
    <a href="https://www.ua.pt/pt/p/80653922" class="link link-hover">Daniel Ferreira</a>
  </nav>

  <nav class="flex flex-col">
    <h6 class="footer-title">Project</h6>
    <a href="/team" class="link link-hover">Team</a>
  </nav>

  <nav class="flex flex-col">
    <h6 class="footer-title">More</h6>
    <a href="https://github.com/PI-coffeeBreak" class="link link-hover">Github</a>
    <a href="https://coffeebreak.atlassian.net/" class="link link-hover">Jira</a>
  </nav>
</footer>
