---
const { src = '/coffeebeans.png' } = Astro.props
---

<section class="hero">
  <div class="container">
    <div class="grid grid-cols-1 items-center lg:grid-cols-2">
      <div class="flex flex-col items-center md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>There's no event without <span class="text-primary font-bold">coffeeBreak.</span></slot>
        </h1>
        <p class="text-2xl text-secondary">an event management platform that allows to be instanciated ant costumized with the modules that the event needs</p>
      </div>
      <div class="flex justify-end">
        <img class="w-2/3 max-w-xs lg:max-w-md self-end" src={src} alt="Coffee beans" decoding="async" />
      </div>
    </div>
  </div>
</section>
