---

---

<div class="navbar bg-base-100 container mx-auto px-4 lg:px-8 fixed transition-all duration-300 sm:shadow-none z-50
" id="navbar">
  <!-- Left: Logo -->
  <div class="flex-1">
    <a href="/" class="flex items-center gap-2 !no-underline object-cover">
      <svg id="themeLogo" class="theme-svg fill-primary" xmlns="http://www.w3.org/2000/svg" width="160" viewBox="0 40 375 75">
        <defs><g/><clipPath id="5c6ae13e7a"><path d="M 54 55 L 61 55 L 61 78.441406 L 54 78.441406 Z M 54 55 " clip-rule="nonzero"/></clipPath><clipPath id="3fd3322489"><path d="M 71 55 L 76.160156 55 L 76.160156 78.441406 L 71 78.441406 Z M 71 55 " clip-rule="nonzero"/></clipPath><clipPath id="ec332f2522"><path d="M 61 47.773438 L 70 47.773438 L 70 78.441406 L 61 78.441406 Z M 61 47.773438 " clip-rule="nonzero"/></clipPath></defs><g clip-path="url(#5c6ae13e7a)"><path d="M 58.804688 55.519531 C 54.210938 59.984375 53.71875 62.558594 54.242188 64.113281 C 54.9375 66.179688 57.515625 66.6875 57.636719 68.886719 C 57.742188 70.796875 55.859375 71.441406 55.726562 73.449219 C 55.644531 74.652344 56.183594 76.425781 59.207031 78.753906 C 58.417969 77.566406 57.453125 75.6875 57.847656 73.664062 C 58.300781 71.339844 60.117188 71.003906 60.289062 69.101562 C 60.539062 66.316406 56.832031 65.292969 56.257812 61.992188 C 56.027344 60.667969 56.222656 58.550781 58.804688 55.519531 Z M 58.804688 55.519531 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#3fd3322489)"><path d="M 75.675781 55.519531 C 71.851562 58.855469 71.316406 61.179688 71.542969 62.691406 C 71.816406 64.519531 73.171875 64.96875 73.292969 67.070312 C 73.433594 69.5 71.703125 70.316406 71.339844 72.867188 C 71.148438 74.207031 71.316406 76.164062 73.023438 78.753906 C 72.742188 77.414062 72.527344 75.402344 73.242188 73.253906 C 74.285156 70.113281 76.347656 69.542969 76.351562 67.277344 C 76.355469 64.863281 74.015625 64.242188 73.5625 61.546875 C 73.171875 59.214844 74.472656 57.03125 75.675781 55.519531 Z M 75.675781 55.519531 " fill-opacity="1" fill-rule="nonzero"/></g><g clip-path="url(#ec332f2522)"><path d="M 62.09375 47.773438 C 63.339844 49.0625 64.824219 51.039062 64.746094 53.398438 C 64.625 56.964844 61.042969 58.199219 61.347656 61.25 C 61.652344 64.257812 65.285156 64.546875 65.488281 67.613281 C 65.664062 70.34375 62.941406 71.433594 63.152344 74.300781 C 63.296875 76.238281 64.695312 77.742188 65.945312 78.753906 C 65.351562 77.753906 64.652344 76.199219 64.851562 74.40625 C 65.273438 70.621094 69.265625 69.523438 69.09375 66.765625 C 68.933594 64.148438 65.15625 63.933594 64.746094 61.035156 C 64.328125 58.101562 67.976562 56.6875 67.820312 53.714844 C 67.746094 52.273438 66.757812 50.175781 62.09375 47.773438 Z M 62.09375 47.773438 " fill-opacity="1" fill-rule="nonzero"/></g><g fill-opacity="1"><g transform="translate(23.253618, 110.772857)"><g><path d="M 19.03125 -21.890625 C 17.125 -21.890625 15.484375 -21.179688 14.109375 -19.765625 C 12.742188 -18.359375 12.0625 -16.664062 12.0625 -14.6875 C 12.0625 -12.664062 12.742188 -10.953125 14.109375 -9.546875 C 15.484375 -8.140625 17.125 -7.4375 19.03125 -7.4375 C 19.945312 -7.4375 20.8125 -7.546875 21.625 -7.765625 C 22.445312 -7.992188 23.050781 -8.222656 23.4375 -8.453125 L 23.953125 -8.796875 L 27.375 -1.765625 C 27.113281 -1.578125 26.742188 -1.335938 26.265625 -1.046875 C 25.785156 -0.765625 24.695312 -0.378906 23 0.109375 C 21.3125 0.609375 19.492188 0.859375 17.546875 0.859375 C 13.242188 0.859375 9.460938 -0.65625 6.203125 -3.6875 C 2.941406 -6.71875 1.3125 -10.347656 1.3125 -14.578125 C 1.3125 -18.835938 2.941406 -22.5 6.203125 -25.5625 C 9.460938 -28.632812 13.242188 -30.171875 17.546875 -30.171875 C 19.492188 -30.171875 21.285156 -29.941406 22.921875 -29.484375 C 24.554688 -29.035156 25.71875 -28.582031 26.40625 -28.125 L 27.375 -27.4375 L 23.953125 -20.515625 C 22.691406 -21.429688 21.050781 -21.890625 19.03125 -21.890625 Z M 19.03125 -21.890625 "/></g></g></g><g fill-opacity="1"><g transform="translate(46.684479, 110.772857)"><g><path d="M 6.203125 -3.484375 C 2.941406 -6.378906 1.3125 -10.09375 1.3125 -14.625 C 1.3125 -19.164062 3.003906 -22.890625 6.390625 -25.796875 C 9.785156 -28.710938 13.976562 -30.171875 18.96875 -30.171875 C 23.882812 -30.171875 28.03125 -28.703125 31.40625 -25.765625 C 34.78125 -22.835938 36.46875 -19.125 36.46875 -14.625 C 36.46875 -10.132812 34.816406 -6.429688 31.515625 -3.515625 C 28.222656 -0.597656 24.039062 0.859375 18.96875 0.859375 C 13.71875 0.859375 9.460938 -0.585938 6.203125 -3.484375 Z M 14.03125 -19.59375 C 12.71875 -18.300781 12.0625 -16.644531 12.0625 -14.625 C 12.0625 -12.613281 12.6875 -10.96875 13.9375 -9.6875 C 15.195312 -8.40625 16.859375 -7.765625 18.921875 -7.765625 C 20.898438 -7.765625 22.523438 -8.410156 23.796875 -9.703125 C 25.078125 -11.003906 25.71875 -12.644531 25.71875 -14.625 C 25.71875 -16.644531 25.0625 -18.300781 23.75 -19.59375 C 22.4375 -20.894531 20.828125 -21.546875 18.921875 -21.546875 C 16.972656 -21.546875 15.34375 -20.894531 14.03125 -19.59375 Z M 14.03125 -19.59375 "/></g></g></g><g fill-opacity="1"><g transform="translate(79.830832, 110.772857)"><g><path d="M 5.140625 -29.328125 L 5.140625 -35.546875 C 5.179688 -39.929688 6.210938 -43.4375 8.234375 -46.0625 C 10.253906 -48.695312 13.050781 -50.015625 16.625 -50.015625 C 18.15625 -50.015625 19.613281 -49.796875 21 -49.359375 C 22.394531 -48.921875 23.394531 -48.472656 24 -48.015625 L 24.984375 -47.375 L 21.4375 -40.234375 C 20.519531 -40.765625 19.507812 -41.03125 18.40625 -41.03125 C 17.144531 -41.03125 16.304688 -40.601562 15.890625 -39.75 C 15.472656 -38.894531 15.265625 -37.398438 15.265625 -35.265625 L 15.265625 -29.328125 L 22 -29.328125 L 22 -21.609375 L 15.265625 -21.609375 L 15.265625 0 L 5.140625 0 L 5.140625 -21.609375 L 0.921875 -21.609375 L 0.921875 -29.328125 Z M 5.140625 -29.328125 "/></g></g></g><g fill-opacity="1"><g transform="translate(96.632303, 110.772857)"><g><path d="M 5.140625 -29.328125 L 5.140625 -35.546875 C 5.179688 -39.929688 6.210938 -43.4375 8.234375 -46.0625 C 10.253906 -48.695312 13.050781 -50.015625 16.625 -50.015625 C 18.15625 -50.015625 19.613281 -49.796875 21 -49.359375 C 22.394531 -48.921875 23.394531 -48.472656 24 -48.015625 L 24.984375 -47.375 L 21.4375 -40.234375 C 20.519531 -40.765625 19.507812 -41.03125 18.40625 -41.03125 C 17.144531 -41.03125 16.304688 -40.601562 15.890625 -39.75 C 15.472656 -38.894531 15.265625 -37.398438 15.265625 -35.265625 L 15.265625 -29.328125 L 22 -29.328125 L 22 -21.609375 L 15.265625 -21.609375 L 15.265625 0 L 5.140625 0 L 5.140625 -21.609375 L 0.921875 -21.609375 L 0.921875 -29.328125 Z M 5.140625 -29.328125 "/></g></g></g><g fill-opacity="1"><g transform="translate(113.433774, 110.772857)"><g><path d="M 33.09375 -13.265625 L 11.828125 -13.265625 C 11.828125 -11.203125 12.492188 -9.675781 13.828125 -8.6875 C 15.160156 -7.695312 16.609375 -7.203125 18.171875 -7.203125 C 19.816406 -7.203125 21.113281 -7.421875 22.0625 -7.859375 C 23.007812 -8.296875 24.09375 -9.160156 25.3125 -10.453125 L 32.640625 -6.796875 C 29.585938 -1.691406 24.519531 0.859375 17.4375 0.859375 C 13.007812 0.859375 9.210938 -0.65625 6.046875 -3.6875 C 2.890625 -6.71875 1.3125 -10.363281 1.3125 -14.625 C 1.3125 -18.894531 2.890625 -22.550781 6.046875 -25.59375 C 9.210938 -28.644531 13.007812 -30.171875 17.4375 -30.171875 C 22.082031 -30.171875 25.863281 -28.828125 28.78125 -26.140625 C 31.695312 -23.460938 33.15625 -19.625 33.15625 -14.625 C 33.15625 -13.945312 33.132812 -13.492188 33.09375 -13.265625 Z M 12.109375 -18.859375 L 23.265625 -18.859375 C 23.035156 -20.378906 22.429688 -21.550781 21.453125 -22.375 C 20.484375 -23.195312 19.238281 -23.609375 17.71875 -23.609375 C 16.039062 -23.609375 14.707031 -23.164062 13.71875 -22.28125 C 12.726562 -21.40625 12.191406 -20.265625 12.109375 -18.859375 Z M 12.109375 -18.859375 "/></g></g></g><g fill-opacity="1"><g transform="translate(143.265427, 110.772857)"><g><path d="M 33.09375 -13.265625 L 11.828125 -13.265625 C 11.828125 -11.203125 12.492188 -9.675781 13.828125 -8.6875 C 15.160156 -7.695312 16.609375 -7.203125 18.171875 -7.203125 C 19.816406 -7.203125 21.113281 -7.421875 22.0625 -7.859375 C 23.007812 -8.296875 24.09375 -9.160156 25.3125 -10.453125 L 32.640625 -6.796875 C 29.585938 -1.691406 24.519531 0.859375 17.4375 0.859375 C 13.007812 0.859375 9.210938 -0.65625 6.046875 -3.6875 C 2.890625 -6.71875 1.3125 -10.363281 1.3125 -14.625 C 1.3125 -18.894531 2.890625 -22.550781 6.046875 -25.59375 C 9.210938 -28.644531 13.007812 -30.171875 17.4375 -30.171875 C 22.082031 -30.171875 25.863281 -28.828125 28.78125 -26.140625 C 31.695312 -23.460938 33.15625 -19.625 33.15625 -14.625 C 33.15625 -13.945312 33.132812 -13.492188 33.09375 -13.265625 Z M 12.109375 -18.859375 L 23.265625 -18.859375 C 23.035156 -20.378906 22.429688 -21.550781 21.453125 -22.375 C 20.484375 -23.195312 19.238281 -23.609375 17.71875 -23.609375 C 16.039062 -23.609375 14.707031 -23.164062 13.71875 -22.28125 C 12.726562 -21.40625 12.191406 -20.265625 12.109375 -18.859375 Z M 12.109375 -18.859375 "/></g></g></g><g fill-opacity="1"><g transform="translate(173.097081, 110.772857)"><g><path d="M 3.421875 -47.15625 L 18.0625 -47.15625 C 22.476562 -47.15625 26 -46.210938 28.625 -44.328125 C 31.257812 -42.441406 32.578125 -39.382812 32.578125 -35.15625 C 32.578125 -30.425781 30.613281 -27.050781 26.6875 -25.03125 C 33.394531 -23.851562 36.75 -19.890625 36.75 -13.140625 C 36.75 -9.179688 35.375 -6 32.625 -3.59375 C 29.882812 -1.195312 26.113281 0 21.3125 0 L 3.421875 0 Z M 14.171875 -28.6875 L 15.03125 -28.6875 C 17.4375 -28.6875 19.226562 -29.101562 20.40625 -29.9375 C 21.582031 -30.78125 22.171875 -32.15625 22.171875 -34.0625 C 22.171875 -37.257812 19.789062 -38.859375 15.03125 -38.859375 L 14.171875 -38.859375 Z M 14.171875 -8.28125 L 17.546875 -8.28125 C 22.804688 -8.28125 25.4375 -10.035156 25.4375 -13.546875 C 25.4375 -15.640625 24.773438 -17.144531 23.453125 -18.0625 C 22.140625 -18.976562 20.171875 -19.4375 17.546875 -19.4375 L 14.171875 -19.4375 Z M 14.171875 -8.28125 "/></g></g></g><g fill-opacity="1"><g transform="translate(206.529186, 110.772857)"><g><path d="M 3.421875 0 L 3.421875 -29.328125 L 13.546875 -29.328125 L 13.546875 -25.09375 L 13.65625 -25.09375 C 13.738281 -25.238281 13.863281 -25.425781 14.03125 -25.65625 C 14.207031 -25.882812 14.578125 -26.285156 15.140625 -26.859375 C 15.710938 -27.429688 16.320312 -27.945312 16.96875 -28.40625 C 17.625 -28.863281 18.460938 -29.269531 19.484375 -29.625 C 20.515625 -29.988281 21.566406 -30.171875 22.640625 -30.171875 C 23.742188 -30.171875 24.828125 -30.019531 25.890625 -29.71875 C 26.960938 -29.414062 27.742188 -29.113281 28.234375 -28.8125 L 29.03125 -28.34375 L 24.8125 -19.78125 C 23.550781 -20.84375 21.796875 -21.375 19.546875 -21.375 C 18.328125 -21.375 17.28125 -21.109375 16.40625 -20.578125 C 15.53125 -20.046875 14.910156 -19.394531 14.546875 -18.625 C 14.179688 -17.863281 13.921875 -17.21875 13.765625 -16.6875 C 13.617188 -16.15625 13.546875 -15.738281 13.546875 -15.4375 L 13.546875 0 Z M 3.421875 0 "/></g></g></g><g fill-opacity="1"><g transform="translate(230.360088, 110.772857)"><g><path d="M 33.09375 -13.265625 L 11.828125 -13.265625 C 11.828125 -11.203125 12.492188 -9.675781 13.828125 -8.6875 C 15.160156 -7.695312 16.609375 -7.203125 18.171875 -7.203125 C 19.816406 -7.203125 21.113281 -7.421875 22.0625 -7.859375 C 23.007812 -8.296875 24.09375 -9.160156 25.3125 -10.453125 L 32.640625 -6.796875 C 29.585938 -1.691406 24.519531 0.859375 17.4375 0.859375 C 13.007812 0.859375 9.210938 -0.65625 6.046875 -3.6875 C 2.890625 -6.71875 1.3125 -10.363281 1.3125 -14.625 C 1.3125 -18.894531 2.890625 -22.550781 6.046875 -25.59375 C 9.210938 -28.644531 13.007812 -30.171875 17.4375 -30.171875 C 22.082031 -30.171875 25.863281 -28.828125 28.78125 -26.140625 C 31.695312 -23.460938 33.15625 -19.625 33.15625 -14.625 C 33.15625 -13.945312 33.132812 -13.492188 33.09375 -13.265625 Z M 12.109375 -18.859375 L 23.265625 -18.859375 C 23.035156 -20.378906 22.429688 -21.550781 21.453125 -22.375 C 20.484375 -23.195312 19.238281 -23.609375 17.71875 -23.609375 C 16.039062 -23.609375 14.707031 -23.164062 13.71875 -22.28125 C 12.726562 -21.40625 12.191406 -20.265625 12.109375 -18.859375 Z M 12.109375 -18.859375 "/></g></g></g><g fill-opacity="1"><g transform="translate(260.191742, 110.772857)"><g><path d="M 5.421875 -3.625 C 2.679688 -6.613281 1.3125 -10.28125 1.3125 -14.625 C 1.3125 -18.96875 2.679688 -22.644531 5.421875 -25.65625 C 8.171875 -28.664062 11.660156 -30.171875 15.890625 -30.171875 C 19.773438 -30.171875 22.972656 -28.953125 25.484375 -26.515625 L 25.484375 -29.328125 L 35.609375 -29.328125 L 35.609375 0 L 25.609375 0 L 25.609375 -3.3125 L 25.484375 -3.3125 C 22.972656 -0.53125 19.773438 0.859375 15.890625 0.859375 C 11.660156 0.859375 8.171875 -0.632812 5.421875 -3.625 Z M 14.03125 -19.59375 C 12.71875 -18.300781 12.0625 -16.644531 12.0625 -14.625 C 12.0625 -12.613281 12.6875 -10.96875 13.9375 -9.6875 C 15.195312 -8.40625 16.859375 -7.765625 18.921875 -7.765625 C 20.898438 -7.765625 22.523438 -8.410156 23.796875 -9.703125 C 25.078125 -11.003906 25.71875 -12.644531 25.71875 -14.625 C 25.71875 -16.644531 25.0625 -18.300781 23.75 -19.59375 C 22.4375 -20.894531 20.828125 -21.546875 18.921875 -21.546875 C 16.972656 -21.546875 15.34375 -20.894531 14.03125 -19.59375 Z M 14.03125 -19.59375 "/></g></g></g><g fill-opacity="1"><g transform="translate(294.595396, 110.772857)"><g><path d="M 36.921875 -29.328125 L 22.984375 -15.3125 L 38.296875 0 L 25.265625 0 L 13.546875 -11.71875 L 13.546875 0 L 3.421875 0 L 3.421875 -49.15625 L 13.546875 -49.15625 L 13.546875 -19.09375 L 23.78125 -29.328125 Z M 36.921875 -29.328125 "/></g></g></g><g fill-opacity="1"><g transform="translate(331.72125, 110.704779)"><g><path d="M 11.5625 -14.21875 C 13.6875 -14.21875 15.488281 -13.472656 16.96875 -11.984375 C 18.457031 -10.503906 19.203125 -8.703125 19.203125 -6.578125 C 19.203125 -4.492188 18.457031 -2.707031 16.96875 -1.21875 C 15.488281 0.257812 13.6875 1 11.5625 1 C 9.476562 1 7.691406 0.257812 6.203125 -1.21875 C 4.722656 -2.707031 3.984375 -4.492188 3.984375 -6.578125 C 3.984375 -8.703125 4.722656 -10.503906 6.203125 -11.984375 C 7.691406 -13.472656 9.476562 -14.21875 11.5625 -14.21875 Z M 11.5625 -14.21875 "/></g></g></g>
      </svg>
    </a>
  </div>

  <!-- Right: Menu (Collapsible) -->
  <div class="flex-none">
    <div class="menu-item type-icon text-lg lg:hidden">
      <label class="swap swap-rotate hidden">
        <input type="checkbox" class="theme-controller" value="coffeeDark" data-toggle-theme="coffeeDark,coffeeLight" data-act-class="coffeeLight" />
        <svg
            class="swap-off h-8 w-6 fill-current mr-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="2 -2 20 20">
          <path
              d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
        </svg>
        <svg
            class="swap-on h-8 w-6 fill-current mr-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="2 -2 20 20">
          <path
              d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
        </svg>
      </label>
    </div>

    <div class="dropdown lg:hidden z-50">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <i class="fa-solid fa-bars text-2xl"></i>
      </label>

      <ul tabindex="0" class="menu dropdown-content right-0 mt-3 p-2 shadow-2xl bg-base-100 rounded-box w-52">
        <li><a href="/calendar" title="external link">Calendar</a></li>
        <li><a href="/team" title="external link">Team</a></li>
        <li><a href="/minutes" title="external link">Minutes</a></li>
        <li>
          <details class="rounded-lg">
            <summary>Milestones</summary>
            <ul class=" z-20 rounded-lg p-2">
              <li><a href="/inception">M1-Inception</a></li>
              <li><a href="/elaboration">M2-Elaboration</a></li>
              <li><a href="/construction">M3-Construction</a></li>
              <li><a href="/transition">M4-Transition</a></li>
            </ul>
          </details>
        </li>
        <li><a href="https://github.com/PI-coffeeBreak"><i class="fa-brands fa-github"></i> GitHub</a></li>
        <li><a href="https://coffeebreak.atlassian.net/"><i class="fa-brands fa-jira"></i> Jira</a></li>
        <li>
          <details class="rounded-lg">
            <summary>Documentation</summary>
            <ul class="z-20 rounded-lg p-2">
              <li><a href="/getting-started">Getting Started</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <!-- Normal menu (desktop view) -->
    <ul class="menu menu-horizontal hidden lg:flex py-0">
      <li class="hover:underline font-bold text-primary p-0">
        <a href="/calendar" title="external link">Calendar</a>
      </li>
      <li class="hover:underline font-bold text-primary">
        <a href="/team" title="external link">Team</a>
      </li>
      <li class="hover:underline font-bold text-primary">
        <a href="/minutes" title="external link">Minutes</a>
      </li>
      <li>
        <details class="hover:underline font-bold text-primary">
          <summary>Milestones</summary>
          <ul class="bg-secondary z-40 text-white w-40 text-md rounded-lg p-2">
            <li><a href="/inception">M1-Inception</a></li>
            <li><a href="/elaboration">M2-Elaboration</a></li>
            <li><a href="/construction">M3-Construction</a></li>
            <li><a href="/transition">M4-Transition</a></li>
          </ul>
        </details>
      </li>
      <li>
        <details class="hover:underline font-bold text-primary">
          <summary>Documentation</summary>
          <ul class="bg-secondary z-40 text-white w-56 text-md rounded-lg p-2">
            <li><a href="/getting-started">Getting Started</a></li>
          </ul>
        </details>
      </li>
      <li class="menu-item mr-2 type-icon text-lg">
        <a href="https://github.com/PI-coffeeBreak" title="Go to the GitHub page">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>

      <li class="menu-item type-icon text-lg">
        <a href="https://coffeebreak.atlassian.net/" title="Go to the Jira page">
          <i class="fa-brands fa-jira"></i>
        </a >
      </li>

      <li class="menu-item type-icon text-lg">
        <label class="swap swap-rotate hidden">
        <input type="checkbox" class="theme-controller" value="coffeeDark" data-toggle-theme="coffeeDark,coffeeLight" data-act-class="coffeeLight" />
          <svg
              class="swap-off h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="2 2 20 20">
            <path
                d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
          </svg>
          <svg
              class="swap-on h-4 w-4 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24">
            <path
                d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
          </svg>
        </label>
      </li>
    </ul>
  </div>
</div>

<script src="../scripts/navbarhide.js"></script>
<script src="../scripts/closedrawer.js"></script>
<script>
  // Seleciona todos os controladores de tema
  const themeControllers = document.querySelectorAll('.theme-controller') as NodeListOf<HTMLInputElement>;
  
  // Define o estado inicial baseado no tema armazenado
  themeControllers.forEach(controller => {
    if (localStorage.getItem('theme') === 'coffeeDark') {
      controller.checked = true;
    } else {
      controller.checked = false;
    }
  });

  // Adiciona listeners para sincronizar os controladores
  themeControllers.forEach(controller => {
    controller.addEventListener('change', (e) => {
      const isChecked = (e.target as HTMLInputElement).checked;
      themeControllers.forEach(ctrl => {
        ctrl.checked = isChecked;
      });
    });
  });

  // Remove a classe 'hidden' dos elementos swap após carregar os listeners
  document.querySelectorAll('.swap').forEach(swap => {
    swap.classList.remove('hidden');
  });
</script>