---
import DefaultLayout from './DefaultLayout.astro'

const { frontmatter } = Astro.props
---

<DefaultLayout title={frontmatter.title}>
  <div class="container px-2 md:px-16 xl:px-32">
    <div class="space-content my-12">
      <article class="prose lg:prose-lg 2xl:prose-xl">
        <slot />
      </article>
    </div>
  </div>
</DefaultLayout>

